@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Black+Ops+One&family=Dancing+Script:wght@700&family=Della+Respira&family=Gabarito&family=Handjet:wght@500;900&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Mooli&family=Pacifico&family=Pangolin&family=Playfair:wght@300&family=Roboto:ital,wght@0,400;0,700;1,300&family=VT323&family=Young+Serif&display=swap');


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Autour One', sans-serif;
}

body {
  background-image: url(./assets/lightbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
}

.App {
  width: 100%;
  padding: 2rem;
  display: flex;
  gap: 2rem;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.resume {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* header boxes */

.HeaderBox {
  background: #1c1c1c;
  color: white;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  font-family: 'Autour One', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.iconSection{
  display: flex;
  gap: 2rem;
}

.icon{
  
  cursor: pointer;
  transition: 200ms;
}

.icon:active{
  transform: scale(0.8);
} */

.bottomSection {
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-family: 'Autour One', sans-serif;
}

.link {
  outline: none;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  background: #242424;
  border-radius: 12px;
  transition: 300ms ease-in-out;
  font-family: 'Autour One', sans-serif;
}

.link>span {
  margin-left: 0.5rem;
  transition: 300ms ease-in-out;
}

.link:hover {
  background: #2e2e2e;
}

/*.link:hover span {
  color: ;
}*/

.link:active {
  transform: scale(0.9);
}