@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Black+Ops+One&family=Dancing+Script:wght@700&family=Della+Respira&family=Gabarito&family=Handjet:wght@500;900&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Mooli&family=Pacifico&family=Pangolin&family=Playfair:wght@300&family=Roboto:ital,wght@0,400;0,700;1,300&family=VT323&family=Young+Serif&display=swap');


*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/lightbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
}